@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PAULO CESAR TAVARES LOPES DOS REIS</h1>
    <p>paulo.reis@al.infnet.edu.br</p>
</div>


    <h2>@ViewData["SaaS"]</h2>
    <p>@ViewData["Software"]</p>


    <h2>@ViewData["PaaS"]</h2>
    <p>@ViewData["Platform"]</p>



    <h2>@ViewData["IaaS"]</h2>
    <p>@ViewData["Infrastructure"]</p>


